:root {
  --bg: #d9d9d9 ;
  --face: #ffe9c5;
  --purple-500: #9560a7;
  --purple-600: #764b85;
  --blue-300: #67a2c2;
  --blue-700: #195de9;
  --green-400: #6bf017;
  --green-600: #83bc68;
  --green-700: #629856;
  --black: #272727;
  --white: #fff;
  --gray-300: #e7e7e7;
  --gray-400: #cdcdcd;
  --gray-500: #b3b3b4;
  --gray-800: #505050;
  --red-400: #eb3f21;
  --red-500: #d42a21;
  --red-600: #ae3c27;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.buzz-lightyear {
  background-color: var(--green-600);
  height: 10px;
  width: 10px;
  box-shadow: 
              /* Linha 1 - Head */
              -10px -150px var(--purple-500),
                0px -150px var(--purple-500),
               10px -150px var(--purple-500),
               20px -150px var(--purple-500),
               /* Linha 2 - Head */
            -20px -140px var(--purple-500),
            -10px -140px var(--purple-500),
              0px -140px var(--face),
             10px -140px var(--face),
             20px -140px var(--face),
             30px -140px var(--face),
             /* Linha 3 - Head */
            -20px -130px var(--purple-500),
            -10px -130px var(--purple-500),
              0px -130px var(--face),
             10px -130px var(--face),
             20px -130px var(--face),
             30px -130px var(--face),
             /* Linha 4 - Head */
            -20px -120px var(--purple-500),
            -10px -120px var(--face),
              0px -120px var(--face),
             10px -120px var(--face),
             20px -120px var(--face),
             30px -120px var(--face),
              /* Linha 5 - Head */
            -20px -110px var(--purple-500),
            -10px -110px var(--face),
              0px -110px var(--face),
             10px -110px var(--face),
             20px -110px var(--face),
             30px -110px var(--face),
             /* Linha 6 - Head */
            -20px -100px var(--purple-500),
            -10px -100px var(--purple-500),
              0px -100px var(--face),
             10px -100px var(--face),
             20px -100px var(--face),
             30px -100px var(--face),
             /* Linha 7 - Pescoco */
            -70px -90px var(--green-700),
            -60px -90px var(--green-600),
            -20px -90px var(--purple-500),
            -10px -90px var(--purple-500),
              0px -90px var(--purple-500),
             10px -90px var(--purple-600),
             20px -90px var(--purple-600),
             60px -90px var(--green-700),
             70px -90px var(--green-600),
              /* Linha 7 - Tronco */
            -70px -80px var(--purple-600),
            -60px -80px var(--green-600),
            -50px -80px var(--green-600),
            -40px -80px var(--green-600),
            -30px -80px var(--green-600),
            -20px -80px var(--green-600),
            -10px -80px var(--blue-300),
              0px -80px var(--blue-300),
             10px -80px var(--blue-300),
             20px -80px var(--blue-300),
             30px -80px var(--blue-300),
             40px -80px var(--green-600),
             50px -80px var(--green-600),
             60px -80px var(--green-600),
             70px -80px var(--green-600),
               /* Linha 8 - Tronco */
            -70px -70px var(--green-700),
            -60px -70px var(--green-600),
            -50px -70px var(--green-600),
            -40px -70px var(--green-600),
            -30px -70px var(--green-600),
            -20px -70px var(--green-600),
            -10px -70px var(--green-600),
              0px -70px var(--blue-300),
             10px -70px var(--blue-300),
             20px -70px var(--blue-300),
             30px -70px var(--green-600),
             40px -70px var(--green-600),
             50px -70px var(--green-600),
             60px -70px var(--green-600),
             70px -70px var(--green-600),
             /* Linha 9 - Tronco */
            -70px -60px var(--black),
            -60px -60px var(--green-600),
            -50px -60px var(--green-600),
            -40px -60px var(--green-600),
            -30px -60px var(--green-600),
            -20px -60px var(--green-600),
            -10px -60px var(--green-600),
              0px -60px var(--green-600),
             10px -60px var(--green-700),
             20px -60px var(--green-600),
             30px -60px var(--green-600),
             40px -60px var(--red-500),
             50px -60px var(--red-400),
             60px -60px var(--green-600),
             70px -60px var(--green-600),
              /* Linha 10 - Tronco */
            -70px -50px var(--gray-400),
            -60px -50px var(--gray-800),
            -50px -50px var(--green-600),
            -40px -50px var(--green-600),
            -30px -50px var(--blue-700),
            -20px -50px var(--green-400),
            -10px -50px var(--red-400),
              0px -50px var(--green-600),
             10px -50px var(--green-700),
             20px -50px var(--green-600),
             30px -50px var(--green-600),
             40px -50px var(--red-600),
             50px -50px var(--red-500),
             60px -50px var(--green-600),
             70px -50px var(--green-600),
             /* Linha 11 - Tronco */
            -70px -40px var(--gray-400),
            -60px -40px var(--gray-300),
            -50px -40px var(--gray-400),
            -40px -40px var(--green-600),
            -30px -40px var(--green-600),
            -20px -40px var(--green-600),
            -10px -40px var(--green-600),
              0px -40px var(--green-600),
             10px -40px var(--gray-400),
             20px -40px var(--green-600),
             30px -40px var(--green-600),
             40px -40px var(--green-600),
             50px -40px var(--green-600),
             60px -40px var(--green-600),
             70px -40px var(--gray-300),
             /* Linha 12 - Barriga */
            -70px -30px var(--gray-400),
            -60px -30px var(--gray-300),
            -50px -30px var(--bg),
            -40px -30px var(--gray-400),
            -30px -30px var(--gray-300),
            -20px -30px var(--gray-300),
            -10px -30px var(--gray-300),
              0px -30px var(--gray-300),
             10px -30px var(--gray-300),
             20px -30px var(--gray-300),
             30px -30px var(--gray-300),
             40px -30px var(--gray-300),
             50px -30px var(--gray-300),
             60px -30px var(--gray-400),
             70px -30px var(--gray-300),
              /* Linha 13 - Barriga */
            -70px -20px var(--red-600),
            -60px -20px var(--gray-300),
            -50px -20px var(--bg),
            -40px -20px var(--bg),
            -30px -20px var(--gray-400),
            -20px -20px var(--gray-300),
            -10px -20px var(--gray-300),
              0px -20px var(--gray-800),
             10px -20px var(--gray-800),
             20px -20px var(--gray-800),
             30px -20px var(--gray-300),
             40px -20px var(--gray-300),
             50px -20px var(--bg),
             60px -20px var(--gray-400),
             70px -20px var(--gray-300),
             /* Linha 14 - Cintura */
            -70px -10px var(--gray-400),
            -60px -10px var(--gray-300),
            -50px -10px var(--bg),
            -40px -10px var(--bg),
            -30px -10px var(--bg),
            -20px -10px var(--black),
            -10px -10px var(--gray-800),
              0px -10px var(--gray-800),
             10px -10px var(--gray-800),
             20px -10px var(--gray-800),
             30px -10px var(--gray-800),
             40px -10px var(--bg),
             50px -10px var(--bg),
             60px -10px var(--gray-400),
             70px -10px var(--gray-300),
             /* Linha 15 - Cintura */
            -70px 0px var(--gray-400),
            -60px 0px var(--gray-300),
            -50px 0px var(--bg),
            -40px 0px var(--bg),
            -30px 0px var(--green-700),
            -20px 0px var(--green-600),
            -10px 0px var(--green-600),
              0px 0px var(--green-600),
             10px 0px var(--green-600),
             20px 0px var(--green-600),
             30px 0px var(--green-600),
             40px 0px var(--green-600),
             50px 0px var(--bg),
             60px 0px var(--gray-400),
             70px 0px var(--gray-300),
             /* Linha 15 - Mãos */
            -70px 10px var(--black),
            -60px 10px var(--gray-800),
            -50px 10px var(--bg),
            -40px 10px var(--bg),
            -30px 10px var(--gray-400),
            -20px 10px var(--gray-300),
            -10px 10px var(--gray-300),
              0px 10px var(--gray-300),
             10px 10px var(--gray-300),
             20px 10px var(--gray-300),
             30px 10px var(--gray-300),
             40px 10px var(--gray-300),
             50px 10px var(--bg),
             60px 10px var(--black),
             70px 10px var(--gray-800),
             /* Linha 16 - Mãos */
            -80px 20px var(--green-700),
            -70px 20px var(--green-600),
            -60px 20px var(--green-600),
            -50px 20px var(--green-600),
            -40px 20px var(--bg),
            -30px 20px var(--gray-500),
            -20px 20px var(--gray-500),
            -10px 20px var(--gray-500),
              0px 20px var(--gray-300),
             10px 20px var(--gray-300),
             20px 20px var(--gray-300),
             30px 20px var(--gray-500),
             40px 20px var(--gray-500),
             50px 20px var(--green-700),
             60px 20px var(--green-600),
             70px 20px var(--green-600),
             80px 20px var(--green-600),
             /* Linha 17 - Mãos */
            -80px 30px var(--gray-400),
            -70px 30px var(--gray-300),
            -60px 30px var(--gray-300),
            -50px 30px var(--gray-300),
            -40px 30px var(--bg),
            -30px 30px var(--gray-400),
            -20px 30px var(--gray-300),
            -10px 30px var(--gray-300),
              0px 30px var(--gray-500),
             10px 30px var(--gray-300),
             20px 30px var(--gray-500),
             30px 30px var(--gray-300),
             40px 30px var(--gray-300),
             50px 30px var(--gray-400),
             60px 30px var(--gray-300),
             70px 30px var(--gray-300),
             80px 30px var(--gray-300),
             /* Linha 18 - Mãos */
            -80px 40px var(--gray-400),
            -70px 40px var(--red-500),
            -60px 40px var(--gray-300),
            -50px 40px var(--gray-300),
            -40px 40px var(--bg),
            -30px 40px var(--gray-400),
            -20px 40px var(--gray-300),
            -10px 40px var(--gray-300),
              0px 40px var(--bg),
             10px 40px var(--bg),
             20px 40px var(--gray-400),
             30px 40px var(--gray-300),
             40px 40px var(--gray-300),
             50px 40px var(--gray-400),
             60px 40px var(--gray-300),
             70px 40px var(--gray-300),
             80px 40px var(--gray-300),
             /* Linha 19 - Mãos */
            -80px 50px var(--gray-400),
            -70px 50px var(--gray-300),
            -60px 50px var(--gray-300),
            -50px 50px var(--gray-300),
            -40px 50px var(--bg),
            -30px 50px var(--gray-400),
            -20px 50px var(--gray-300),
            -10px 50px var(--gray-300),
              0px 50px var(--bg),
             10px 50px var(--bg),
             20px 50px var(--gray-400),
             30px 50px var(--gray-300),
             40px 50px var(--gray-300),
             50px 50px var(--gray-400),
             60px 50px var(--gray-300),
             70px 50px var(--gray-300),
             80px 50px var(--gray-300),
             /* Linha 20 - Mãos */
            -70px 60px var(--green-700),
            -60px 60px var(--gray-500),
            -50px 60px var(--bg),
            -40px 60px var(--bg),
            -30px 60px var(--gray-400),
            -20px 60px var(--gray-300),
            -10px 60px var(--gray-300),
              0px 60px var(--bg),
             10px 60px var(--bg),
             20px 60px var(--gray-400),
             30px 60px var(--gray-300),
             40px 60px var(--gray-300),
             50px 60px var(--bg),
             60px 60px var(--gray-500),
             70px 60px var(--gray-500),
             /* Linha 21 - Mãos */
            -70px 70px var(--gray-400),
            -60px 70px var(--gray-300),
            -50px 70px var(--bg),
            -40px 70px var(--bg),
            -30px 70px var(--gray-400),
            -20px 70px var(--gray-300),
            -10px 70px var(--bg),
              0px 70px var(--bg),
             10px 70px var(--bg),
             20px 70px var(--bg),
             30px 70px var(--gray-400),
             40px 70px var(--gray-300),
             50px 70px var(--bg),
             60px 70px var(--purple-600),
             70px 70px var(--gray-300),
             /* Linha 22 - Pernas */
            -30px 80px var(--gray-400),
            -20px 80px var(--gray-300),
            -10px 80px var(--bg),
              0px 80px var(--bg),
             10px 80px var(--bg),
             20px 80px var(--bg),
             30px 80px var(--gray-400),
             40px 80px var(--gray-300),
             /* Linha 23 - Pernas */
            -30px 90px var(--gray-400),
            -20px 90px var(--gray-300),
            -10px 90px var(--bg),
              0px 90px var(--bg),
             10px 90px var(--bg),
             20px 90px var(--bg),
             30px 90px var(--gray-400),
             40px 90px var(--gray-300),
             /* Linha 23 - Pernas */
            -30px 100px var(--gray-400),
            -20px 100px var(--gray-300),
            -10px 100px var(--bg),
              0px 100px var(--bg),
             10px 100px var(--bg),
             20px 100px var(--bg),
             30px 100px var(--gray-400),
             40px 100px var(--gray-300),
             /* Linha 24 - Pernas */
            -40px 110px var(--gray-400),
            -30px 110px var(--gray-300),
            -20px 110px var(--gray-300),
            -10px 110px var(--gray-300),
              0px 110px var(--bg),
             10px 110px var(--bg),
             20px 110px var(--gray-400),
             30px 110px var(--gray-300),
             40px 110px var(--gray-300),
             50px 110px var(--gray-300),
             /* Linha 25 - Pernas */
            -40px 120px var(--gray-400),
            -30px 120px var(--gray-300),
            -20px 120px var(--gray-300),
            -10px 120px var(--gray-300),
              0px 120px var(--bg),
             10px 120px var(--bg),
             20px 120px var(--gray-400),
             30px 120px var(--gray-300),
             40px 120px var(--gray-300),
             50px 120px var(--gray-300),
             /* Linha 26 - Pernas */
            -40px 130px var(--gray-400),
            -30px 130px var(--gray-300),
            -20px 130px var(--gray-300),
            -10px 130px var(--gray-300),
              0px 130px var(--bg),
             10px 130px var(--bg),
             20px 130px var(--gray-400),
             30px 130px var(--gray-300),
             40px 130px var(--gray-300),
             50px 130px var(--gray-300),
             /* Linha 27 - Sapatos */
            -40px 140px var(--green-700),
            -30px 140px var(--green-600),
            -20px 140px var(--green-600),
            -10px 140px var(--green-600),
              0px 140px var(--bg),
             10px 140px var(--bg),
             20px 140px var(--green-700),
             30px 140px var(--green-600),
             40px 140px var(--green-600),
             50px 140px var(--green-600),
             /* Linha 28 - Sapatos */
            -40px 150px var(--gray-300),
            -30px 150px var(--gray-300),
            -20px 150px var(--gray-300),
            -10px 150px var(--gray-300),
              0px 150px var(--bg),
             10px 150px var(--bg),
             20px 150px var(--green-700),
             30px 150px var(--gray-300),
             40px 150px var(--gray-300),
             50px 150px var(--gray-300),
             /* Linha 29 - Sapatos */
            -40px 160px var(--green-700),
            -30px 160px var(--green-600),
            -20px 160px var(--green-600),
            -10px 160px var(--green-600),
              0px 160px var(--bg),
             10px 160px var(--bg),
             20px 160px var(--gray-400),
             30px 160px var(--gray-300),
             40px 160px var(--green-600),
             50px 160px var(--green-600),
             60px 160px var(--green-600),
            /* Linha 30 - Sapatos */
           -100px 170px var(--gray-300),
            -90px 170px var(--gray-400),
            -80px 170px var(--gray-500),
            -70px 170px var(--gray-500),
            -60px 170px var(--gray-500),
            -50px 170px var(--gray-500),
            -40px 170px var(--purple-600),
            -30px 170px var(--purple-500),
            -20px 170px var(--purple-500),
            -10px 170px var(--purple-500),
              0px 170px var(--gray-500),
             10px 170px var(--gray-500),
             20px 170px var(--purple-600),
             30px 170px var(--purple-500),
             40px 170px var(--purple-600),
             50px 170px var(--purple-600),
             60px 170px var(--purple-600);
}