:root {
   --bg: #ffe4e1;
  --gray-200: #e6e6e6;
  --gray-300: #cdcdcd;
  --gray: #b3b3b4;
  --gray-400: #ebe0c3;
  --gray-500: #c2b69a;
  --pink-500: #de5380;
  --pink-600: #ae3a66;
  --purple-500: #781044;
  --purple-600: #50052d;
  --brown-300: #d2a262;
  --brown-400: #bd8f56;
  --brown-500: #a67a42;
  --brown-600: #9a553f;
  --brown-700: #7d3f2e;
  --white: #fff;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.lotso {
  background-color: var(--gray-400);
  height: 10px;
  width: 10px;
  box-shadow: 
             -70px -190px var(--pink-500), 
             -60px -190px var(--pink-500),
             -50px -190px var(--pink-500),
             -40px -190px var(--pink-500),
             -30px -190px var(--pink-500),
              40px -190px var(--pink-500),
              50px -190px var(--pink-500),
              60px -190px var(--pink-500),
            /* Linha 2 - Orelhas    */ 
             -80px -180px var(--pink-600), 
             -70px -180px var(--pink-500),
             -60px -180px var(--gray-400),
             -50px -180px var(--gray-400),
             -40px -180px var(--pink-500),
             -30px -180px var(--pink-500),
             -20px -180px var(--pink-500),
             -10px -180px var(--pink-500),   
                 0 -180px var(--pink-500),
              10px -180px var(--pink-500),
              20px -180px var(--pink-500),
              30px -180px var(--pink-500),
              40px -180px var(--pink-500),
              50px -180px var(--gray-400),
              60px -180px var(--pink-500),
              70px -180px var(--pink-500),
              /* Linha 3 - Orelhas    */
             -80px -170px var(--pink-600),
             -70px -170px var(--gray-400),
             -60px -170px var(--gray-400),
             -50px -170px var(--pink-600),
             -40px -170px var(--pink-500),
             -30px -170px var(--purple-500),
             -20px -170px var(--purple-500),
             -10px -170px var(--purple-500),
                 0 -170px var(--pink-500),
              10px -170px var(--purple-500),
              20px -170px var(--purple-500),
              30px -170px var(--purple-500),
              40px -170px var(--pink-500),
              50px -170px var(--gray-400),
              60px -170px var(--gray-400),
              70px -170px var(--pink-500),
              /* Linha 4 - Orelhas    */
             -80px -160px var(--pink-600),
             -70px -160px var(--gray-400),
             -60px -160px var(--pink-600),
             -50px -160px var(--pink-500),
             -40px -160px var(--pink-500),
             -30px -160px var(--pink-500),
             -20px -160px var(--pink-500),
             -10px -160px var(--pink-500),
                 0 -160px var(--pink-500),
              10px -160px var(--pink-500),
              20px -160px var(--pink-500),
              30px -160px var(--pink-500),
              40px -160px var(--pink-500),
              50px -160px var(--pink-500),
              60px -160px var(--gray-400),
              70px -160px var(--pink-500),
              /* Linha 5 - Orelhas    */
             -80px -150px var(--pink-600),
             -70px -150px var(--pink-600),
             -60px -150px var(--pink-500),
             -50px -150px var(--pink-500),
             -40px -150px var(--pink-500),
             -30px -150px var(--pink-500),
             -20px -150px var(--pink-500),
             -10px -150px var(--pink-500),
                 0 -150px var(--pink-500),
              10px -150px var(--pink-500),
              20px -150px var(--pink-500),
              30px -150px var(--pink-500),
              40px -150px var(--pink-500),
              50px -150px var(--pink-500),
              60px -150px var(--pink-500),
              70px -150px var(--pink-500),
              /* Linha 6 - Orelhas    */
             -80px -140px var(--pink-600),
             -70px -140px var(--pink-500),
             -60px -140px var(--pink-500),
             -50px -140px var(--pink-500),
             -40px -140px var(--pink-500),
             -30px -140px var(--pink-500),
             -20px -140px var(--pink-500),
             -10px -140px var(--pink-500),
                 0 -140px var(--pink-500),
              10px -140px var(--pink-500),
              20px -140px var(--pink-500),
              30px -140px var(--pink-500),
              40px -140px var(--pink-500),
              50px -140px var(--pink-500),
              60px -140px var(--pink-500),
              70px -140px var(--pink-500),
              /* Linha 7 - Nariz    */
             -90px -130px var(--pink-600),
             -80px -130px var(--pink-500),
             -70px -130px var(--pink-500),
             -60px -130px var(--pink-500),
             -50px -130px var(--pink-600),
             -40px -130px var(--gray-500),
             -30px -130px var(--gray-400),
             -20px -130px var(--gray-400),
             -10px -130px var(--gray-400),
                 0 -130px var(--gray-400),
              10px -130px var(--gray-400),
              20px -130px var(--gray-400),
              30px -130px var(--gray-400),
              40px -130px var(--gray-400),
              50px -130px var(--gray-400),
              60px -130px var(--pink-500),
              70px -130px var(--pink-500),
              80px -130px var(--pink-500),
              /* Linha 8 - Nariz Roxo    */
             -90px -120px var(--pink-600),
             -80px -120px var(--pink-500),
             -70px -120px var(--pink-500),
             -60px -120px var(--pink-600),
             -50px -120px var(--gray-500),
             -40px -120px var(--gray-400),
             -30px -120px var(--gray-400),
             -20px -120px var(--gray-400),
             -10px -120px var(--purple-500),
                 0 -120px var(--purple-500),
              10px -120px var(--purple-500),
              20px -120px var(--purple-500),
              30px -120px var(--purple-500),
              40px -120px var(--purple-500),
              50px -120px var(--gray-400),
              60px -120px var(--gray-400),
              70px -120px var(--pink-500),
              80px -120px var(--pink-500),
              /* Linha 8 - Nariz Roxo    */
             -90px -110px var(--pink-600),
             -80px -110px var(--pink-500),
             -70px -110px var(--pink-600),
             -60px -110px var(--pink-600),
             -50px -110px var(--gray-500),
             -40px -110px var(--gray-400),
             -30px -110px var(--gray-400),
             -20px -110px var(--purple-600),
             -10px -110px var(--purple-500),
                 0 -110px var(--purple-500),
              10px -110px var(--purple-500),
              20px -110px var(--purple-500),
              30px -110px var(--purple-500),
              40px -110px var(--purple-500),
              50px -110px var(--purple-500),
              60px -110px var(--gray-400),
              70px -110px var(--pink-500),
              80px -110px var(--pink-500),
              /* Linha 9 - Nariz Roxo    */
             -90px -100px var(--pink-600),
             -80px -100px var(--pink-500),
             -70px -100px var(--pink-600),
             -60px -100px var(--pink-600),
             -50px -100px var(--gray-500),
             -40px -100px var(--gray-400),
             -30px -100px var(--gray-400),
             -20px -100px var(--purple-600),
             -10px -100px var(--purple-500),
                 0 -100px var(--purple-500),
              10px -100px var(--purple-500),
              20px -100px var(--purple-500),
              30px -100px var(--purple-500),
              40px -100px var(--purple-500),
              50px -100px var(--purple-500),
              60px -100px var(--gray-400),
              70px -100px var(--pink-500),
              80px -100px var(--pink-500),
              /* Linha 10 - Nariz Roxo    */
             -90px -90px var(--pink-600),
             -80px -90px var(--pink-500),
             -70px -90px var(--pink-600),
             -60px -90px var(--pink-600),
             -50px -90px var(--gray-500),
             -40px -90px var(--gray-400),
             -30px -90px var(--gray-400),
             -20px -90px var(--gray-400),
             -10px -90px var(--purple-600),
                 0 -90px var(--purple-600),
              10px -90px var(--purple-500),
              20px -90px var(--purple-500),
              30px -90px var(--purple-500),
              40px -90px var(--purple-500),
              50px -90px var(--gray-400),
              60px -90px var(--gray-400),
              70px -90px var(--pink-500),
              80px -90px var(--pink-500),
              /* Linha 11 - Nariz Roxo    */
             -90px -80px var(--pink-600),
             -80px -80px var(--pink-500),
             -70px -80px var(--pink-600),
             -60px -80px var(--pink-600),
             -50px -80px var(--gray-500),
             -40px -80px var(--gray-400),
             -30px -80px var(--gray-400),
             -20px -80px var(--gray-400),
             -10px -80px var(--gray-400),
                 0 -80px var(--gray-400),
              10px -80px var(--purple-600),
              20px -80px var(--purple-600),
              30px -80px var(--gray-400),
              40px -80px var(--gray-400),
              50px -80px var(--gray-400),
              60px -80px var(--gray-400),
              70px -80px var(--pink-500),
              80px -80px var(--pink-500),
              /* Linha 12 - Nariz Roxo    */
             -90px -70px var(--pink-600),
             -80px -70px var(--pink-500),
             -70px -70px var(--pink-600),
             -60px -70px var(--pink-600),
             -50px -70px var(--gray-500),
             -40px -70px var(--gray-400),
             -30px -70px var(--gray-400),
             -20px -70px var(--gray-400),
             -10px -70px var(--gray-400),
                 0 -70px var(--gray-400),
              10px -70px var(--gray-400),
              20px -70px var(--gray-400),
              30px -70px var(--gray-400),
              40px -70px var(--gray-400),
              50px -70px var(--gray-400),
              60px -70px var(--gray-400),
              70px -70px var(--pink-500),
              80px -70px var(--pink-500),
              /* Linha 13 - Pescoco    */
            -100px -60px var(--pink-600),  
             -90px -60px var(--pink-500),
             -80px -60px var(--pink-500),
             -70px -60px var(--pink-600),
             -60px -60px var(--pink-600),
             -50px -60px var(--pink-600),
             -40px -60px var(--gray-500),
             -30px -60px var(--gray-400),
             -20px -60px var(--gray-400),
             -10px -60px var(--gray-400),
                 0 -60px var(--gray-400),
              10px -60px var(--gray-400),
              20px -60px var(--gray-400),
              30px -60px var(--gray-400),
              40px -60px var(--gray-400),
              50px -60px var(--gray-400),
              60px -60px var(--pink-500),
              70px -60px var(--pink-500),
              80px -60px var(--pink-500),
              90px -60px var(--pink-500),
              /* Linha 14 - Comeco do braco    */
           -110px -50px var(--pink-600),
           -100px -50px var(--pink-500),  
           -100px -50px var(--pink-500),  
            -90px -50px var(--pink-500),
            -80px -50px var(--pink-500),
            -70px -50px var(--pink-600),
            -60px -50px var(--pink-600),
            -50px -50px var(--pink-600),
            -40px -50px var(--gray-500),
            -30px -50px var(--gray-500),
            -20px -50px var(--gray-400),
            -10px -50px var(--gray-400),
                0 -50px var(--gray-400),
             10px -50px var(--gray-400),
             20px -50px var(--gray-400),
             30px -50px var(--gray-400),
             40px -50px var(--gray-400),
             50px -50px var(--gray-400),
             60px -50px var(--pink-500),
             70px -50px var(--pink-500),
             80px -50px var(--pink-500),
             90px -50px var(--pink-500),
             /* Linha 15 - braco   */
           -120px -40px var(--pink-600),
           -110px -40px var(--pink-500),
           -100px -40px var(--pink-500),  
           -100px -40px var(--pink-500),  
            -90px -40px var(--pink-500),
            -80px -40px var(--pink-500),
            -70px -40px var(--pink-500),
            -60px -40px var(--pink-600),
            -50px -40px var(--pink-600),
            -40px -40px var(--pink-600),
            -30px -40px var(--pink-600),
            -20px -40px var(--gray-500),
            -10px -40px var(--gray-500),
                0 -40px var(--gray-500),
             10px -40px var(--gray-500),
             20px -40px var(--gray-500),
             30px -40px var(--gray-500),
             40px -40px var(--pink-500),
             50px -40px var(--pink-500),
             60px -40px var(--pink-500),
             70px -40px var(--pink-500),
             80px -40px var(--pink-500),
             90px -40px var(--pink-500),
            100px -40px var(--pink-500),
            /* Linha 16 - braco   */
           -130px -30px var(--pink-600),
           -120px -30px var(--pink-500),
           -110px -30px var(--pink-500),
           -100px -30px var(--pink-500),  
           -100px -30px var(--pink-500),  
            -90px -30px var(--pink-500),
            -80px -30px var(--pink-500),
            -70px -30px var(--pink-500),
            -60px -30px var(--pink-600),
            -50px -30px var(--pink-600),
            -40px -30px var(--pink-600),
            -30px -30px var(--pink-600),
            -20px -30px var(--pink-600),
            -10px -30px var(--pink-600),
                0 -30px var(--pink-600),
             10px -30px var(--pink-600),
             20px -30px var(--pink-600),
             30px -30px var(--pink-500),
             40px -30px var(--pink-500),
             50px -30px var(--pink-500),
             60px -30px var(--pink-500),
             70px -30px var(--pink-500),
             80px -30px var(--pink-500),
             90px -30px var(--pink-500),
            100px -30px var(--pink-500),
            /* Linha 17 - Comeco Barriga   */
           -150px -20px var(--pink-600),
           -140px -20px var(--pink-600),
           -130px -20px var(--pink-500),
           -120px -20px var(--pink-500),
           -110px -20px var(--pink-500),
           -100px -20px var(--pink-500),  
           -100px -20px var(--pink-500),  
            -90px -20px var(--pink-500),
            -80px -20px var(--pink-500),
            -70px -20px var(--pink-500),
            -60px -20px var(--pink-500),
            -50px -20px var(--pink-500),
            -40px -20px var(--pink-600),
            -30px -20px var(--gray-500),
            -20px -20px var(--gray-500),
            -10px -20px var(--gray-500),
                0 -20px var(--gray-500),
             10px -20px var(--gray-400),
             20px -20px var(--gray-400),
             30px -20px var(--gray-400),
             40px -20px var(--gray-400),
             50px -20px var(--pink-500),
             60px -20px var(--pink-500),
             70px -20px var(--pink-500),
             80px -20px var(--pink-600),
             90px -20px var(--pink-500),
            100px -20px var(--pink-500),
            110px -20px var(--pink-500),
            /* Linha 18 - Barriga   */
           -170px -10px var(--pink-600),
           -160px -10px var(--pink-600),
           -150px -10px var(--pink-500),
           -140px -10px var(--pink-500),
           -130px -10px var(--pink-500),
           -120px -10px var(--pink-500),
           -110px -10px var(--pink-500),
           -100px -10px var(--pink-500),  
           -100px -10px var(--pink-500),  
            -90px -10px var(--pink-500),
            -80px -10px var(--pink-500),
            -70px -10px var(--pink-500),
            -60px -10px var(--pink-500),
            -50px -10px var(--pink-500),
            -40px -10px var(--gray-500),
            -30px -10px var(--gray-400),
            -20px -10px var(--gray-400),
            -10px -10px var(--gray-400),
                0 -10px var(--gray-400),
             10px -10px var(--gray-400),
             20px -10px var(--gray-400),
             30px -10px var(--gray-400),
             40px -10px var(--gray-400),
             50px -10px var(--gray-400),
             60px -10px var(--pink-500),
             70px -10px var(--pink-500),
             80px -10px var(--pink-500),
             90px -10px var(--pink-600),
            100px -10px var(--pink-500),
            110px -10px var(--pink-500),
            /* Linha 19 - Barriga   */
           -180px 0px var(--pink-600),
           -170px 0px var(--pink-500),
           -160px 0px var(--pink-500),
           -150px 0px var(--pink-500),
           -140px 0px var(--pink-500),
           -130px 0px var(--pink-500),
           -120px 0px var(--pink-500),
           -110px 0px var(--pink-500),
           -100px 0px var(--pink-500),  
           -100px 0px var(--pink-500),  
            -90px 0px var(--pink-600),
            -80px 0px var(--pink-500),
            -70px 0px var(--pink-500),
            -60px 0px var(--pink-500),
            -50px 0px var(--pink-500),
            -40px 0px var(--gray-500),
            -30px 0px var(--gray-400),
            -20px 0px var(--gray-400),
            -10px 0px var(--gray-400),
                0 0px var(--gray-400),
             10px 0px var(--gray-400),
             20px 0px var(--gray-400),
             30px 0px var(--gray-400),
             40px 0px var(--gray-400),
             50px 0px var(--gray-400),
             60px 0px var(--pink-500),
             70px 0px var(--pink-500),
             80px 0px var(--pink-500),
             90px 0px var(--pink-600),
            100px 0px var(--pink-500),
            110px 0px var(--pink-500),
            /* Linha 20 - Barriga   */
           -180px 10px var(--pink-600),
           -170px 10px var(--pink-500),
           -160px 10px var(--pink-500),
           -150px 10px var(--pink-500),
           -140px 10px var(--pink-500),
           -130px 10px var(--pink-500),
           -120px 10px var(--pink-500),
           -110px 10px var(--pink-500),
           -100px 10px var(--pink-500),  
           -100px 10px var(--pink-500),  
            -90px 10px var(--pink-600),
            -80px 10px var(--pink-500),
            -70px 10px var(--pink-500),
            -60px 10px var(--pink-500),
            -50px 10px var(--gray-500),
            -40px 10px var(--gray-400),
            -30px 10px var(--gray-400),
            -20px 10px var(--gray-400),
            -10px 10px var(--gray-400),
                0 10px var(--gray-400),
             10px 10px var(--gray-400),
             20px 10px var(--gray-400),
             30px 10px var(--gray-400),
             40px 10px var(--gray-400),
             50px 10px var(--gray-400),
             60px 10px var(--gray-400),
             70px 10px var(--pink-500),
             80px 10px var(--pink-500),
             90px 10px var(--pink-600),
            100px 10px var(--pink-500),
            110px 10px var(--pink-500),
            /* Linha 21 - Barriga   */
           -180px 20px var(--pink-600),
           -170px 20px var(--pink-500),
           -160px 20px var(--gray-500),
           -150px 20px var(--gray-400),
           -140px 20px var(--gray-400),
           -130px 20px var(--pink-500),
           -120px 20px var(--pink-500),
           -110px 20px var(--pink-500),
           -100px 20px var(--pink-600),  
           -100px 20px var(--pink-500),  
            -90px 20px var(--pink-500),
            -80px 20px var(--pink-500),
            -70px 20px var(--pink-500),
            -60px 20px var(--pink-500),
            -50px 20px var(--gray-500),
            -40px 20px var(--gray-400),
            -30px 20px var(--gray-400),
            -20px 20px var(--gray-400),
            -10px 20px var(--gray-400),
                0 20px var(--gray-400),
             10px 20px var(--gray-400),
             20px 20px var(--gray-400),
             30px 20px var(--gray-400),
             40px 20px var(--gray-400),
             50px 20px var(--gray-400),
             60px 20px var(--gray-400),
             70px 20px var(--pink-500),
             80px 20px var(--pink-500),
             90px 20px var(--pink-500),
            100px 20px var(--pink-600),
            110px 20px var(--pink-500),
            120px 20px var(--pink-500),
            /* Linha 22 - Comeco Martelo   */
           -180px 30px var(--pink-600),
           -170px 30px var(--pink-600),
           -160px 30px var(--brown-500),
           -150px 30px var(--brown-500),
           -140px 30px var(--brown-400),
           -130px 30px var(--brown-400),
           -120px 30px var(--brown-300),
           -110px 30px var(--pink-500),
           -100px 30px var(--pink-600),  
           -100px 30px var(--pink-500),  
            -90px 30px var(--pink-500),
            -80px 30px var(--pink-500),
            -70px 30px var(--pink-500),
            -60px 30px var(--gray-500),
            -50px 30px var(--gray-400),
            -40px 30px var(--gray-400),
            -30px 30px var(--gray-400),
            -20px 30px var(--gray-400),
            -10px 30px var(--gray-400),
                0 30px var(--gray-400),
             10px 30px var(--gray-400),
             20px 30px var(--gray-400),
             30px 30px var(--gray-400),
             40px 30px var(--gray-400),
             50px 30px var(--gray-400),
             60px 30px var(--gray-400),
             70px 30px var(--gray-400),
             80px 30px var(--pink-500),
             90px 30px var(--pink-500),
            100px 30px var(--pink-600),
            110px 30px var(--pink-500),
            120px 30px var(--pink-500),
            /* Linha 23 - Martelo  */
           -170px 40px var(--brown-500),
           -160px 40px var(--brown-500),
           -150px 40px var(--brown-400),
           -140px 40px var(--brown-400),
           -130px 40px var(--brown-300),
           -120px 40px var(--brown-300),
           -100px 40px var(--pink-600),  
           -100px 40px var(--pink-500),  
            -90px 40px var(--pink-500),
            -80px 40px var(--pink-500),
            -70px 40px var(--pink-500),
            -60px 40px var(--gray-500),
            -50px 40px var(--gray-400),
            -40px 40px var(--gray-400),
            -30px 40px var(--gray-400),
            -20px 40px var(--gray-400),
            -10px 40px var(--gray-400),
                0 40px var(--gray-400),
             10px 40px var(--gray-400),
             20px 40px var(--gray-400),
             30px 40px var(--gray-400),
             40px 40px var(--gray-400),
             50px 40px var(--gray-400),
             60px 40px var(--gray-400),
             70px 40px var(--gray-400),
             80px 40px var(--pink-500),
             90px 40px var(--pink-500),
            100px 40px var(--pink-600),
            110px 40px var(--pink-500),
            120px 40px var(--pink-500),
            /* Linha 24 - Martelo  */
           -170px 50px var(--brown-500),
           -160px 50px var(--brown-500),
           -150px 50px var(--brown-500),
           -140px 50px var(--brown-500),
           -130px 50px var(--brown-500),
           -120px 50px var(--brown-300),
           -100px 50px var(--pink-600),  
           -100px 50px var(--pink-500),  
            -90px 50px var(--pink-500),
            -80px 50px var(--pink-500),
            -70px 50px var(--pink-500),
            -60px 50px var(--gray-500),
            -50px 50px var(--gray-400),
            -40px 50px var(--gray-400),
            -30px 50px var(--gray-400),
            -20px 50px var(--gray-400),
            -10px 50px var(--gray-400),
                0 50px var(--gray-400),
             10px 50px var(--gray-400),
             20px 50px var(--gray-400),
             30px 50px var(--gray-400),
             40px 50px var(--gray-400),
             50px 50px var(--gray-400),
             60px 50px var(--gray-400),
             70px 50px var(--gray-400),
             80px 50px var(--pink-500),
             90px 50px var(--pink-500),
            100px 50px var(--pink-600),
            110px 50px var(--pink-500),
            120px 50px var(--pink-500),
            /* Linha 25 - Cabo Martelo  */
           -150px 60px var(--brown-700),
           -140px 60px var(--brown-700),
           -100px 60px var(--pink-600),  
           -100px 60px var(--pink-500),  
            -90px 60px var(--pink-500),
            -80px 60px var(--pink-500),
            -70px 60px var(--pink-500),
            -60px 60px var(--gray-500),
            -50px 60px var(--gray-400),
            -40px 60px var(--gray-400),
            -30px 60px var(--gray-400),
            -20px 60px var(--gray-400),
            -10px 60px var(--gray-400),
                0 60px var(--gray-400),
             10px 60px var(--gray-400),
             20px 60px var(--gray-400),
             30px 60px var(--gray-400),
             40px 60px var(--gray-400),
             50px 60px var(--gray-400),
             60px 60px var(--gray-400),
             70px 60px var(--gray-400),
             80px 60px var(--pink-500),
             90px 60px var(--pink-500),
            100px 60px var(--pink-600),
            110px 60px var(--pink-500),
            120px 60px var(--pink-500),
            /* Linha 26 - Cabo Martelo  */
           -150px 70px var(--brown-700),
           -140px 70px var(--brown-600),
           -100px 70px var(--pink-600),  
           -100px 70px var(--pink-500),  
            -90px 70px var(--pink-500),
            -80px 70px var(--pink-500),
            -70px 70px var(--pink-500),
            -60px 70px var(--gray-500),
            -50px 70px var(--gray-400),
            -40px 70px var(--gray-400),
            -30px 70px var(--gray-400),
            -20px 70px var(--gray-400),
            -10px 70px var(--gray-400),
                0 70px var(--gray-400),
             10px 70px var(--gray-400),
             20px 70px var(--gray-400),
             30px 70px var(--gray-400),
             40px 70px var(--gray-400),
             50px 70px var(--gray-400),
             60px 70px var(--gray-400),
             70px 70px var(--gray-400),
             80px 70px var(--pink-500),
             90px 70px var(--pink-500),
            100px 70px var(--gray-500),
            110px 70px var(--pink-500),
            120px 70px var(--pink-500),
            /* Linha 27 - Cabo Martelo  */
           -150px 80px var(--brown-700),
           -140px 80px var(--brown-600),
           -100px 80px var(--pink-600),  
           -100px 80px var(--pink-500),  
            -90px 80px var(--pink-500),
            -80px 80px var(--pink-500),
            -70px 80px var(--pink-500),
            -60px 80px var(--gray-500),
            -50px 80px var(--gray-400),
            -40px 80px var(--gray-400),
            -30px 80px var(--gray-400),
            -20px 80px var(--gray-400),
            -10px 80px var(--gray-400),
                0 80px var(--gray-400),
             10px 80px var(--gray-400),
             20px 80px var(--gray-400),
             30px 80px var(--gray-400),
             40px 80px var(--gray-400),
             50px 80px var(--gray-400),
             60px 80px var(--gray-400),
             70px 80px var(--gray-400),
             80px 80px var(--pink-500),
             90px 80px var(--pink-500),
            100px 80px var(--gray-500),
            110px 80px var(--pink-500),
            120px 80px var(--pink-500),
            /* Linha 27 - Cabo Martelo  */
           -150px 90px var(--brown-700),
           -140px 90px var(--brown-600),
           -100px 90px var(--pink-600),  
           -100px 90px var(--pink-500),  
            -90px 90px var(--pink-500),
            -80px 90px var(--pink-500),
            -70px 90px var(--pink-500),
            -60px 90px var(--gray-500),
            -50px 90px var(--gray-400),
            -40px 90px var(--gray-400),
            -30px 90px var(--gray-400),
            -20px 90px var(--gray-400),
            -10px 90px var(--gray-400),
                0 90px var(--gray-400),
             10px 90px var(--gray-400),
             20px 90px var(--gray-400),
             30px 90px var(--gray-400),
             40px 90px var(--gray-400),
             50px 90px var(--gray-400),
             60px 90px var(--gray-400),
             70px 90px var(--gray-400),
             80px 90px var(--pink-500),
             90px 90px var(--pink-500),
            100px 90px var(--gray-500),
            110px 90px var(--pink-500),
            120px 90px var(--pink-500),
            /* Linha 27 - Cabo Martelo  */
           -150px 100px var(--brown-700),
           -140px 100px var(--brown-600),
           -100px 100px var(--pink-600),  
           -100px 100px var(--pink-500),  
            -90px 100px var(--pink-500),
            -80px 100px var(--pink-500),
            -70px 100px var(--pink-500),
            -60px 100px var(--gray-500),
            -50px 100px var(--gray-400),
            -40px 100px var(--gray-400),
            -30px 100px var(--gray-400),
            -20px 100px var(--gray-400),
            -10px 100px var(--gray-400),
                0 100px var(--gray-400),
             10px 100px var(--gray-400),
             20px 100px var(--gray-400),
             30px 100px var(--gray-400),
             40px 100px var(--gray-400),
             50px 100px var(--gray-400),
             60px 100px var(--gray-400),
             70px 100px var(--gray-400),
             80px 100px var(--pink-500),
             90px 100px var(--pink-500),
            100px 100px var(--gray-500),
            110px 100px var(--pink-500),
            120px 100px var(--pink-500),
            /* Linha 28 - Fim barriga - comeco  */
           -150px 110px var(--brown-700),
           -140px 110px var(--brown-600),
           -100px 110px var(--pink-600),  
           -100px 110px var(--pink-500),  
            -90px 110px var(--pink-500),
            -80px 110px var(--pink-500),
            -70px 110px var(--pink-500),
            -60px 110px var(--pink-500),
            -50px 110px var(--gray-500),
            -40px 110px var(--gray-500),
            -30px 110px var(--gray-400),
            -20px 110px var(--gray-400),
            -10px 110px var(--gray-400),
                0 110px var(--gray-400),
             10px 110px var(--gray-400),
             20px 110px var(--gray-400),
             30px 110px var(--gray-400),
             40px 110px var(--gray-400),
             50px 110px var(--gray-400),
             60px 110px var(--gray-400),
             70px 110px var(--pink-500),
             80px 110px var(--pink-500),
             90px 110px var(--pink-500),
            100px 110px var(--pink-600),
            110px 110px var(--pink-500),
            /* Linha 28 - Fim barriga  */
           -150px 120px var(--brown-700),
           -140px 120px var(--brown-600),
           -100px 120px var(--pink-600),  
           -100px 120px var(--pink-500),  
            -90px 120px var(--pink-500),
            -80px 120px var(--pink-500),
            -70px 120px var(--pink-500),
            -60px 120px var(--pink-500),
            -50px 120px var(--pink-500),
            -40px 120px var(--pink-500),
            -30px 120px var(--gray-500),
            -20px 120px var(--gray-500),
            -10px 120px var(--gray-500),
                0 120px var(--gray-500),
             10px 120px var(--gray-500),
             20px 120px var(--gray-500),
             30px 120px var(--gray-500),
             40px 120px var(--gray-500),
             50px 120px var(--pink-500),
             60px 120px var(--pink-500),
             70px 120px var(--pink-500),
             80px 120px var(--pink-500),
             90px 120px var(--pink-500),
             /* Linha 29 - Pernas  */
           -150px 130px var(--brown-700),
           -140px 130px var(--brown-600),
            -90px 130px var(--pink-600),
            -80px 130px var(--pink-500),
            -70px 130px var(--pink-500),
            -60px 130px var(--pink-500),
            -50px 130px var(--pink-500),
            -40px 130px var(--pink-500),
            -30px 130px var(--pink-500),
            -20px 130px var(--pink-500),
            -10px 130px var(--pink-500),
                0 130px var(--pink-500),
             10px 130px var(--pink-500),
             20px 130px var(--pink-500),
             30px 130px var(--pink-500),
             40px 130px var(--pink-500),
             50px 130px var(--pink-500),
             60px 130px var(--pink-500),
             70px 130px var(--pink-500),
             80px 130px var(--pink-600),
             90px 130px var(--pink-500),
             /* Linha 30 - Pernas  */
           -150px 140px var(--brown-700),
           -140px 140px var(--brown-600),
            -90px 140px var(--pink-600),
            -80px 140px var(--pink-500),
            -70px 140px var(--pink-500),
            -60px 140px var(--pink-600),
            -50px 140px var(--pink-600),
            -40px 140px var(--pink-500),
            -30px 140px var(--pink-500),
            -20px 140px var(--pink-500),
            -10px 140px var(--pink-500),
                0 140px var(--pink-500),
             10px 140px var(--pink-500),
             20px 140px var(--pink-500),
             30px 140px var(--pink-500),
             40px 140px var(--pink-500),
             50px 140px var(--pink-500),
             60px 140px var(--pink-600),
             70px 140px var(--pink-600),
             80px 140px var(--pink-500),
             90px 140px var(--pink-500),
             /* Linha 30 - Pernas  */
           -150px 150px var(--brown-700),
           -140px 150px var(--brown-600),
            -90px 150px var(--pink-600),
            -80px 150px var(--pink-500),
            -70px 150px var(--pink-500),
            -60px 150px var(--pink-500),
            -50px 150px var(--pink-500),
            -40px 150px var(--pink-600),
            -30px 150px var(--pink-600),
            -20px 150px var(--pink-600),
            -10px 150px var(--pink-600),
                0 150px var(--pink-600),
             10px 150px var(--pink-600),
             20px 150px var(--pink-600),
             30px 150px var(--pink-600),
             40px 150px var(--pink-600),
             50px 150px var(--pink-600),
             60px 150px var(--pink-500),
             70px 150px var(--pink-500),
             80px 150px var(--pink-500),
             90px 150px var(--pink-500),
             /* Linha 31 - Pés  */
           -150px 160px var(--brown-700),
           -140px 160px var(--brown-600),
            -90px 160px var(--pink-600),
            -80px 160px var(--pink-500),
            -70px 160px var(--pink-500),
            -60px 160px var(--pink-500),
            -50px 160px var(--pink-500),
            -40px 160px var(--pink-500),
            -30px 160px var(--pink-500),
            -20px 160px var(--pink-500),
            -10px 160px var(--pink-600),
             20px 160px var(--pink-600),
             30px 160px var(--pink-500),
             40px 160px var(--pink-500),
             50px 160px var(--pink-500),
             60px 160px var(--pink-500),
             70px 160px var(--pink-500),
             80px 160px var(--pink-500),
             90px 160px var(--pink-500),
            100px 160px var(--pink-500),
            /* Linha 33 - Pés  */
           -150px 170px var(--brown-700),
           -140px 170px var(--brown-600),
            -90px 170px var(--pink-600),
            -80px 170px var(--pink-500),
            -70px 170px var(--pink-500),
            -60px 170px var(--pink-500),
            -50px 170px var(--pink-500),
            -40px 170px var(--pink-500),
            -30px 170px var(--pink-500),
            -20px 170px var(--pink-500),
            -10px 170px var(--pink-600),
             20px 170px var(--pink-600),
             30px 170px var(--pink-500),
             40px 170px var(--pink-500),
             50px 170px var(--pink-500),
             60px 170px var(--pink-500),
             70px 170px var(--pink-500),
             80px 170px var(--pink-500),
             90px 170px var(--pink-500),
            100px 170px var(--pink-500),
            /* Linha 34 - Pés  */
           -210px 180px var(--gray-200),
           -200px 180px var(--gray-300),
           -190px 180px var(--gray),
           -180px 180px var(--gray),
           -170px 180px var(--gray),
           -160px 180px var(--gray),
           -150px 180px var(--brown-700),
           -140px 180px var(--brown-600),
           -130px 180px var(--gray),
           -120px 180px var(--gray),
           -110px 180px var(--gray),
           -100px 180px var(--gray),
            -90px 180px var(--pink-600),
            -80px 180px var(--pink-500),
            -70px 180px var(--pink-500),
            -60px 180px var(--pink-500),
            -50px 180px var(--pink-600),
            -40px 180px var(--pink-500),
            -30px 180px var(--pink-500),
            -20px 180px var(--pink-500),
            -10px 180px var(--pink-600),
                0 180px var(--gray),
             10px 180px var(--gray),
             20px 180px var(--pink-600),
             30px 180px var(--pink-500),
             40px 180px var(--pink-500),
             50px 180px var(--pink-500),
             60px 180px var(--pink-500),
             70px 180px var(--pink-500),
             80px 180px var(--pink-600),
             90px 180px var(--pink-500),
            100px 180px var(--pink-500);
}