:root {
  --bg: #e0ffe0;
  --green-500: #3e9946;
  --green-600: #227829;
  --green-700: #334c13;
  --white: #fff;
  --yellow: #e1d681;
  --gray-200: #e6e6e6;
  --gray-300: #cdcdcd;
  --gray-400: #b3b3b4;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: var(--bg);
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rex {
  background-color: var(--green-500);
  height: 10px;
  width: 10px;
  box-shadow: 
              /* Início Head */
              -10px -160px var(--green-500),
                0px -160px var(--green-500),
               10px -160px var(--green-500),
               /* Olhos */
               -20px -150px var(--green-500),
               -10px -150px var(--white),
                 0px -150px var(--green-500),
                10px -150px var(--white),
                20px -150px var(--green-500),
                /* Verde */
               -30px -140px var(--green-500),
               -20px -140px var(--green-500),
               -10px -140px var(--green-500),
                 0px -140px var(--green-500),
                10px -140px var(--green-500),
                20px -140px var(--green-500),
                30px -140px var(--green-500),
                /* Verde - Linha 4 */
               -30px -130px var(--green-500),
               -20px -130px var(--green-500),
               -10px -130px var(--green-500),
                 0px -130px var(--green-500),
                10px -130px var(--green-500),
                20px -130px var(--green-500),
                30px -130px var(--green-500),
                /* Verde - Linha 5 */
               -40px -120px var(--green-500),
               -30px -120px var(--green-500),
               -20px -120px var(--green-500),
               -10px -120px var(--green-500),
                 0px -120px var(--green-500),
                10px -120px var(--green-500),
                20px -120px var(--green-500),
                30px -120px var(--green-500),
                40px -120px var(--green-500),
                 /* Verde - Linha 6 */
               -50px -110px var(--green-500),
               -40px -110px var(--green-500),
               -30px -110px var(--green-500),
               -20px -110px var(--green-500),
               -10px -110px var(--green-500),
                 0px -110px var(--green-500),
                10px -110px var(--green-500),
                20px -110px var(--green-500),
                30px -110px var(--green-500),
                40px -110px var(--green-500),
                50px -110px var(--green-500),
                 /* Nariz - Linha 7 */
               -60px -100px var(--green-500),
               -50px -100px var(--green-500),
               -40px -100px var(--green-500),
               -30px -100px var(--green-500),
               -20px -100px var(--green-600),
               -10px -100px var(--green-500),
                 0px -100px var(--green-500),
                10px -100px var(--green-500),
                20px -100px var(--green-600),
                30px -100px var(--green-500),
                40px -100px var(--green-500),
                50px -100px var(--green-500),
                60px -100px var(--green-500),
                /* Verde - Linha 8 */
               -60px -90px var(--green-500),
               -50px -90px var(--green-500),
               -40px -90px var(--green-500),
               -30px -90px var(--green-500),
               -20px -90px var(--green-500),
               -10px -90px var(--green-500),
                 0px -90px var(--green-500),
                10px -90px var(--green-500),
                20px -90px var(--green-500),
                30px -90px var(--green-500),
                40px -90px var(--green-500),
                50px -90px var(--green-500),
                60px -90px var(--green-500),
                /* Verde - Linha 9 */
               -60px -90px var(--green-500),
               -50px -90px var(--green-500),
               -40px -90px var(--green-500),
               -30px -90px var(--green-500),
               -20px -90px var(--green-500),
               -10px -90px var(--green-500),
                 0px -90px var(--green-500),
                10px -90px var(--green-500),
                20px -90px var(--green-500),
                30px -90px var(--green-500),
                40px -90px var(--green-500),
                50px -90px var(--green-500),
                60px -90px var(--green-500),
                /* Sorriso 1 - Linha 9 */
               -60px -80px var(--green-500),
               -50px -80px var(--white),
               -40px -80px var(--green-500),
               -30px -80px var(--green-500),
               -20px -80px var(--green-500),
               -10px -80px var(--green-500),
                 0px -80px var(--green-500),
                10px -80px var(--green-500),
                20px -80px var(--green-500),
                30px -80px var(--green-500),
                40px -80px var(--green-500),
                50px -80px var(--white),
                60px -80px var(--green-500),
                /* Sorriso 2 - Linha 10 */
               -50px -70px var(--green-600),
               -40px -70px var(--white),
               -30px -70px var(--green-500),
               -20px -70px var(--green-500),
               -10px -70px var(--green-500),
                 0px -70px var(--green-500),
                10px -70px var(--green-500),
                20px -70px var(--green-500),
                30px -70px var(--green-500),
                40px -70px var(--white),
                50px -70px var(--green-600),
                /* Sorriso 3 - Linha 11 */
               -40px -60px var(--green-600),
               -30px -60px var(--white),
               -20px -60px var(--green-500),
               -10px -60px var(--green-500),
                 0px -60px var(--green-500),
                10px -60px var(--green-500),
                20px -60px var(--green-500),
                30px -60px var(--white),
                40px -60px var(--green-600),
                /* Sorriso 4 - Linha 12 */
               -90px -50px var(--green-500),
               -40px -50px var(--green-500),
               -30px -50px var(--green-600),
               -20px -50px var(--white),
               -10px -50px var(--white),
                 0px -50px var(--white),
                10px -50px var(--white),
                20px -50px var(--white),
                30px -50px var(--green-600),
                40px -50px var(--green-500),
                90px -50px var(--green-500),
                /* Fim Sorriso 5 - Linha 13 */
              -100px -40px var(--green-500),
               -90px -40px var(--green-500),
               -80px -40px var(--green-500),
               -40px -40px var(--green-500),
               -30px -40px var(--green-500),
               -20px -40px var(--green-600),
               -10px -40px var(--green-600),
                 0px -40px var(--green-600),
                10px -40px var(--green-600),
                20px -40px var(--green-600),
                30px -40px var(--green-500),
                40px -40px var(--green-500),
                80px -40px var(--green-500),
                90px -40px var(--green-500),
               100px -40px var(--green-500),
               /* Braco - Linha 14 */
               -90px -30px var(--green-500),
               -80px -30px var(--green-500),
               -70px -30px var(--green-500),
               -60px -30px var(--green-500),
               -50px -30px var(--green-500),
               -40px -30px var(--green-500),
               -30px -30px var(--green-500),
               -20px -30px var(--green-500),
               -10px -30px var(--green-500),
                 0px -30px var(--green-500),
                10px -30px var(--green-500),
                20px -30px var(--green-500),
                30px -30px var(--green-500),
                40px -30px var(--green-500),
                50px -30px var(--green-500),
                60px -30px var(--green-500),
                70px -30px var(--green-500),
                80px -30px var(--green-500),
                90px -30px var(--green-500),
               /* Fim Braco - Linha 15 */
              -70px -20px var(--green-500),
              -60px -20px var(--green-500),
              -50px -20px var(--green-500),
              -40px -20px var(--green-500),
              -30px -20px var(--green-500),
              -20px -20px var(--green-500),
              -10px -20px var(--green-500),
                0px -20px var(--green-500),
               10px -20px var(--green-500),
               20px -20px var(--green-500),
               30px -20px var(--green-500),
               40px -20px var(--green-500),
               50px -20px var(--green-500),
               60px -20px var(--green-500),
               70px -20px var(--green-500),
               /* Verde - Linha 16 */
              -50px -10px var(--green-500),
              -40px -10px var(--green-500),
              -30px -10px var(--green-500),
              -20px -10px var(--green-500),
              -10px -10px var(--green-500),
                0px -10px var(--green-500),
               10px -10px var(--green-500),
               20px -10px var(--green-500),
               30px -10px var(--green-500),
               40px -10px var(--green-500),
               50px -10px var(--green-500),
               /* Verde - Linha 17 */
              -50px 0px var(--green-500),
              -40px 0px var(--green-500),
              -30px 0px var(--green-500),
              -20px 0px var(--green-500),
              -10px 0px var(--green-500),
                0px 0px var(--green-500),
               10px 0px var(--green-500),
               20px 0px var(--green-500),
               30px 0px var(--green-500),
               40px 0px var(--green-500),
               50px 0px var(--green-500),
              140px 0px var(--green-500), /* Comeco calda verde clara */
                /* Barriga - Linha 18 */
              -50px 10px var(--green-500),
              -40px 10px var(--green-500),
              -30px 10px var(--green-500),
              -20px 10px var(--green-500),
              -10px 10px var(--yellow),
                0px 10px var(--yellow),
               10px 10px var(--yellow),
               20px 10px var(--green-500),
               30px 10px var(--green-500),
               40px 10px var(--green-500),
               50px 10px var(--green-500),
              130px 10px var(--green-500),
              140px 10px var(--green-500),
               /* Barriga - Linha 19 */
              -50px 20px var(--green-500),
              -40px 20px var(--green-500),
              -30px 20px var(--green-500),
              -20px 20px var(--yellow),
              -10px 20px var(--yellow),
                0px 20px var(--yellow),
               10px 20px var(--yellow),
               20px 20px var(--yellow),
               30px 20px var(--green-500),
               40px 20px var(--green-500),
               50px 20px var(--green-500),
              120px 20px var(--green-500),
              130px 20px var(--green-500),
              140px 20px var(--green-500),
               /* Barriga - Linha 20 */
              -50px 30px var(--green-500),
              -40px 30px var(--green-500),
              -30px 30px var(--yellow),
              -20px 30px var(--yellow),
              -10px 30px var(--yellow),
                0px 30px var(--yellow),
               10px 30px var(--yellow),
               20px 30px var(--yellow),
               30px 30px var(--yellow),
               40px 30px var(--green-500),
               50px 30px var(--green-500),
              110px 30px var(--green-500),
              120px 30px var(--green-500),
              130px 30px var(--green-500),
              140px 30px var(--green-500),
              /* Barriga - Linha 21 */
              -70px 40px var(--green-600),
              -60px 40px var(--green-600),
              -50px 40px var(--green-500),
              -40px 40px var(--green-500),
              -30px 40px var(--yellow),
              -20px 40px var(--yellow),
              -10px 40px var(--yellow),
                0px 40px var(--yellow),
               10px 40px var(--yellow),
               20px 40px var(--yellow),
               30px 40px var(--yellow),
               40px 40px var(--green-500), /* Comeco calda verde escura */
               50px 40px var(--green-500),
               60px 40px var(--green-600),
               70px 40px var(--green-600),
               80px 40px var(--green-500),
               90px 40px var(--green-500),
              100px 40px var(--green-500),
              110px 40px var(--green-500),
              120px 40px var(--green-500),
              130px 40px var(--green-500),
              140px 40px var(--green-500),
              /* Barriga - Linha 22 */
              -80px 50px var(--green-600),
              -70px 50px var(--green-600),
              -60px 50px var(--green-600),
              -50px 50px var(--green-500),
              -40px 50px var(--green-500),
              -30px 50px var(--yellow),
              -20px 50px var(--yellow),
              -10px 50px var(--yellow),
                0px 50px var(--yellow),
               10px 50px var(--yellow),
               20px 50px var(--yellow),
               30px 50px var(--yellow),
               40px 50px var(--green-500),
               50px 50px var(--green-500),
               60px 50px var(--green-600),
               70px 50px var(--green-600),
               80px 50px var(--green-600),
               90px 50px var(--green-500),
              100px 50px var(--green-500),
              110px 50px var(--green-500),
              120px 50px var(--green-500),
              130px 50px var(--green-500),
              140px 50px var(--green-500),
              /* Barriga - Linha 23 */
              -90px 60px var(--green-600),
              -80px 60px var(--green-600),
              -70px 60px var(--green-600),
              -60px 60px var(--green-600),
              -50px 60px var(--green-500),
              -40px 60px var(--green-500),
              -30px 60px var(--yellow),
              -20px 60px var(--yellow),
              -10px 60px var(--yellow),
                0px 60px var(--yellow),
               10px 60px var(--yellow),
               20px 60px var(--yellow),
               30px 60px var(--yellow),
               40px 60px var(--green-500),
               50px 60px var(--green-500),
               60px 60px var(--green-600),
               70px 60px var(--green-600),
               80px 60px var(--green-600),
               90px 60px var(--green-600),
              100px 60px var(--green-500),
              110px 60px var(--green-500),
              120px 60px var(--green-500),
              130px 60px var(--green-500),
              /* Barriga - Linha 24 */
              -90px 70px var(--green-600),
              -80px 70px var(--green-600),
              -70px 70px var(--green-600),
              -60px 70px var(--green-600),
              -50px 70px var(--green-500),
              -40px 70px var(--green-500),
              -30px 70px var(--yellow),
              -20px 70px var(--yellow),
              -10px 70px var(--yellow),
                0px 70px var(--yellow),
               10px 70px var(--yellow),
               20px 70px var(--yellow),
               30px 70px var(--yellow),
               40px 70px var(--green-500),
               50px 70px var(--green-500),
               60px 70px var(--green-600),
               70px 70px var(--green-600),
               80px 70px var(--green-600),
               90px 70px var(--green-600),
              100px 70px var(--green-500),
              110px 70px var(--green-500),
              120px 70px var(--green-500),
              /* Barriga - Linha 25 */
              -90px 80px var(--green-600),
              -80px 80px var(--green-600),
              -70px 80px var(--green-600),
              -60px 80px var(--green-600),
              -50px 80px var(--green-500),
              -40px 80px var(--green-500),
              -30px 80px var(--yellow),
              -20px 80px var(--yellow),
              -10px 80px var(--yellow),
                0px 80px var(--yellow),
               10px 80px var(--yellow),
               20px 80px var(--yellow),
               30px 80px var(--yellow),
               40px 80px var(--green-500),
               50px 80px var(--green-500),
               60px 80px var(--green-600),
               70px 80px var(--green-600),
               80px 80px var(--green-600),
               90px 80px var(--green-600),
              100px 80px var(--green-500),
              110px 80px var(--green-500),
               /* Barriga - Linha 26 */
              -80px 90px var(--green-600),
              -70px 90px var(--green-600),
              -60px 90px var(--green-600),
              -50px 90px var(--green-500),
              -40px 90px var(--green-500),
              -30px 90px var(--green-600),
              -20px 90px var(--yellow),
              -10px 90px var(--yellow),
                0px 90px var(--yellow),
               10px 90px var(--yellow),
               20px 90px var(--yellow),
               30px 90px var(--green-600),
               40px 90px var(--green-500),
               50px 90px var(--green-500),
               60px 90px var(--green-600),
               70px 90px var(--green-600),
               80px 90px var(--green-600),
               /* FIM Barriga - Linha 27 */
              -70px 100px var(--green-600),
              -60px 100px var(--green-600),
              -50px 100px var(--green-500),
              -40px 100px var(--green-500),
              -20px 100px var(--green-600),
              -10px 100px var(--green-600),
                0px 100px var(--green-600),
               10px 100px var(--green-600),
               20px 100px var(--green-600),
               40px 100px var(--green-500),
               50px 100px var(--green-500),
               60px 100px var(--green-600),
               70px 100px var(--green-600),
               /* Pernas- Linha 28 */
              -70px 110px var(--green-600),
              -60px 110px var(--green-600),
              -50px 110px var(--green-500),
              -40px 110px var(--green-500),
               40px 110px var(--green-500),
               50px 110px var(--green-500),
               60px 110px var(--green-600),
               70px 110px var(--green-600),
               /* Patas- Linha 29 */
              -80px 120px var(--green-600),
              -70px 120px var(--green-600),
              -60px 120px var(--green-600),
              -50px 120px var(--green-500),
              -40px 120px var(--green-500),
               40px 120px var(--green-500),
               50px 120px var(--green-500),
               60px 120px var(--green-600),
               70px 120px var(--green-600),
               80px 120px var(--green-600),
               /* Dedos- Linha 30 */
              -80px 130px var(--green-700),
              -70px 130px var(--green-600),
              -60px 130px var(--green-700),
              -50px 130px var(--green-500),
              -40px 130px var(--green-700),
              -30px 130px var(--gray-400),
              -20px 130px var(--gray-400),
              -10px 130px var(--gray-400),
                0px 130px var(--gray-300),
               10px 130px var(--gray-200),
               40px 130px var(--green-700),
               50px 130px var(--green-500),
               60px 130px var(--green-700),
               70px 130px var(--green-600),
               80px 130px var(--green-700),
               90px 130px var(--gray-400),
              100px 130px var(--gray-400),
              110px 130px var(--gray-400),
              120px 130px var(--gray-200),
              130px 130px var(--gray-200)
               ;
}